@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.Sidebar {
    width: 300px;
    min-width: 210px;
    height: 100%;
}

.Main {
    position: relative;
    background-image: url(./images/bg.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Modal */
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal .container {


    position: relative;
    transform: translate(50% 25%);

}

.Modal .container .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

}

/* User */

.User {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 1px solid #ebebeb;
}

.User .logo img {
    width: 50px;
    height: 50%;
    border: 1px solid black;
    border-radius: 50%;
}

.User .info p {
    font-size: 1.1rem;
    font-weight: bold;
}

.User .info a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

/* Addnew todo */
.AddNewTodo {
    border-bottom: 1px solid #ebebeb;
    padding: .5rem;

}

.AddNewTodo .btn {
    width: 100%;
    height: 30px;

}

.AddNewTodo button {
    border-radius: 3px;
    border: none;
    background-color: rgb(52, 132, 212);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.AddNewTodo button:hover {
    filter: brightness(1.1);
    transition: all 300ms ease;

}

.AddNewTodo form,
.EditTodos form {
    padding: 1rem 1rem calc(1rem + 40px) 1rem;
    width: 400px;
    background: white;
    border-radius: 4px;
}

.AddNewTodo form .text input,
.EditTodos form .text input {
    padding: 1rem;
    width: 100%;
    margin-bottom: .5rem;
    border: none;
    font-size: 1.2rem;
}

.AddNewTodo form .text input:focus,
.EditTodos form .text input:focus {
    outline: none;
    border-bottom: 1px solid blue;
}

.AddNewTodo form .remind,
.EditTodos form .remind {
    display: flex;
    align-items: center;
    padding: .5rem;
}

.AddNewTodo form p,
.EditTodos form p {
    margin-left: 10px;
}

.AddNewTodo form .title,
.EditTodos form .title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.AddNewTodo form .pick-day,
.EditTodos form .pick-day {
    padding: 1rem;

}

.AddNewTodo form .pick-day .title,
.EditTodos form .pick-day .title {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;

}

.AddNewTodo form .pick-time {
    padding: 1rem;
}

.AddNewTodo form .pick-time .title,
.EditTodos form .pick-time .title {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

.AddNewTodo form .project .title,
.EditTodos form .project .title {
    padding: .5rem;
}

.AddNewTodo form .projects,
.EditTodos form .projects {
    display: flex;
    flex-wrap: wrap;

}

.AddNewTodo form .projects .project,
.EditTodos form .projects .project {
    padding: .5rem;
    border: 1px solid rgb(53, 135, 230);
    border-radius: 4px;
    margin: .5rem .5rem 0 .5rem;
    cursor: pointer;
}

.AddNewTodo form .projects .active,
.EditTodos form .projects .active {
    background-color: rgba(21, 107, 255, 0.76);
    color: white;

}

.AddNewTodo form .projects .active:hover,
.EditTodos form .projects .active:hover {
    background-color: rgba(18, 75, 174, 0.76);
    color: white;
    transition: all 300ms ease;

}

.AddNewTodo form .cancel {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.AddNewTodo form .confirm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.AddNewTodo form .confirm button {
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;

}

/* Calendar */

.Calendar {
    padding: 1rem;
    border-bottom: 1px solid #ebebeb;

}

.Calendar .header {
    display: flex;
    justify-content: space-between;
}

.Calendar .header .title {
    display: flex;
    gap: 10px;
}

.Calendar .header .title p {
    font-size: 1.1rem;
    font-weight: bold;
}

.Calendar .items .item {
    margin-top: 10px;
    font-size: 1rem;
    cursor: pointer;


}

.Calendar .items .item:hover {
    color: rgb(29, 129, 117);
    transition: all 300ms ease;
}

/* Projects */

.projects {
    border-bottom: 2px solid #ebebeb;
    padding: 1rem;

}

.projects .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.projects .header .title {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 10px;

}

.projects .header .title p {
    font-size: 1.1rem;
    font-weight: bold;
}

.projects .header .btns {
    display: flex;
    gap: 5px;
}

.project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.project .name {

    cursor: pointer;
}

.project .name:hover {
    color: rgb(29, 129, 117);
    transition: all 300ms ease;
}

.project .btns .edit-delete {
    cursor: pointer;
    display: flex;
    gap: 10px;

}


.project .btns .edit-delete .edit :hover {
    color: rgb(29, 129, 117);
    transition: all 300ms ease;
}

.project .btns .edit-delete .delete :hover {
    background: #eb9797;
    transition: all 300ms ease;
    border-radius: 50%;
}

.project .btns .total-todos {
    background-color: #e0cece;
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


/* addNewProject */

.AddNewProject .add-button span:hover {

    color: rgb(29, 129, 117);
    transition: all 300ms ease;
}

.ProjectForm {
    background-color: white;
    padding: 1rem;
    width: 300px;

    border-radius: 4px;

    position: relative;
}

.ProjectForm h4 {
    margin-bottom: 5px;
}

.ProjectForm input {
    border: none;
    outline: none;
    margin-bottom: 20px;
    width: 100%;

}

.ProjectForm input:focus {
    border-bottom: 1px solid rgb(49, 115, 228);
}


.ProjectForm button {
    position: absolute;
    width: 50%;
    height: 30px;
    border: none;
    font-size: 1.1rem;
    transition: all 300ms ease;
    cursor: pointer;

}

.ProjectForm .cancel {

    left: 0;
    bottom: 0;
    background: #d2d9e0;

}

.ProjectForm .cancel:hover {
    background: #a0a0a0;
}

.ProjectForm .confirm {

    right: 0;
    bottom: 0;
    background: #3277de;

    color: white;
}

.ProjectForm .confirm:hover {
    background: #0753c6;
}


/* Todos */
.Todos {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 80%;
    bottom: 40px;
    left: 40px;
    padding: 1rem;
    opacity: .9;
    border-radius: 5px;
}

.Todos .selected-project {
    padding-bottom: 2px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 2px solid #ebebeb;
}

.Todos .todos {
    overflow-y: auto;
}

/*Todo*/

.Todo .todo-container {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;

    gap: 10px;
}

.Todo .todo-container span {
    cursor: pointer;
}

.Todo .todo-container .text {
    flex: 1;
    cursor: pointer;
}

.Todo .todo-container .text .time {
    font-size: .8rem;
    color: grey;


}

.Todo .todo-container .next-day-trash {
    display: flex;
    gap: 5px;
}


.Todo .todo-container .text {
    position: relative;
}

.Todo .todo-container .text .line {}

.Todo .todo-container .text .line-through {
    position: absolute;
    bottom: 75%;
    height: 1px;
    padding-right: 100%;

    width: 0;
    background-color: gray;
}

.EditTodos {
    position: absolute;
    bottom: 40px;
    left: calc(40px + 400px + 40px);
    background: white;
    width: 400px;
    height: 80%;
    opacity: .9;
    border-radius: 5px;

}

.EditTodos .header {
    margin: 10px;
    text-transform: capitalize;
}